.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.7); }

nav {
  overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: #fafafd;
}
