<nav id="navbar" [className]="showSmallMenu ? 'shadow-nav' : ''">
  <a href="#" class="p-2 mr-2 inline-flex items-center gap-3">
    <span id="perfil">
      <img src="../../../assets/perfil-sm.jpeg" alt="" class="rounded-full shadow">
    </span>
    <span class="text-xl text-title text-poppins-x transition-100">matheus.assis</span>
  </a>
  <button
    class="text-gray-400 text-center inline-flex p-3 hover:text-gray-700 rounded md:hidden ml-auto noselect"
    (click)="showSmallMenu = !showSmallMenu"
  >
    <i class="material-icons noselect">menu</i>
  </button>
  <div id="navigation"
       [className]="showSmallMenu ?
       'top-nav w-full md:inline-flex md:w-auto md:ml-auto' : 'top-nav w-full md:inline-flex md:w-auto md:ml-auto hidden'"
  >
    <div class="md:inline-flex md:flex-row md:mr-5 flex md:flex-auto flex-col md:gap-10">
      <div class="flex md:flex-row flex-col md:ml-0 ml-2 md:mt-0 mt-2" id="menu-text">
        <a href="#"
         class="md:inline-flex md:w-auto px-3 py-2 rounded hover:text-gray-700 items-center"
        >
          <span>Home</span>
        </a>
        <a href="#"
          class="md:inline-flex md:w-auto px-3 py-2 rounded hover:text-gray-700 items-center"
        >
          <span>Projetos</span>
        </a>
        <a href="#"
          class="md:inline-flex md:w-auto px-3 py-2 rounded hover:text-gray-700 items-center"
        >
          <span>Sobre</span>
        </a>
      </div>
      <div class="flex flex-row gap-4 self-end items-center ml-auto md:m-0 m-2">
        <span class="w-7">
          <img src="../../../assets/icons/pt-br.svg" alt="" class="rounded-lg opacity-80">
        </span>
        <span class="w-7">
          <img src="../../../assets/icons/en-us.svg" alt="" class="rounded-lg opacity-80">
        </span>
        <div class="inline self-center" (click)="toggleDarkMode()">
          <div class="flex items-center justify-center bg-[#e5e7eb] dark:bg-[#161616] w-10 h-10 rounded-lg material-icons transition-100 cursor-pointer noselect text-[#374151] dark:text-[#d1d1d1]">
            {{darkMode ? 'dark_mode' : 'light_mode'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
