<div class="max-w-[700px] md:w-[50%]">
  <p class="text-3xl mb-8">Olá, me chamo <b>Matheus de Assis</b></p>
  <p class="mb-16 opacity-80">Desenvolvedor Backend / Fullstack</p>
  <p class="opacity-80 mb-10">
    Trabalho com desenvolvimento de software há um pouco mais de um ano e meio, majoritarimanete com a plataforma .NET.
    Contrary to popular belief, Lorem Ipsum is not simply random text.
  </p>
  <p class="opacity-80 mb-16">
    Contrary to popular belief, Lorem Ipsum is not simply random text. Contrary to popular belief, Lorem Ipsum is not simply random text.
  </p>
  <button class="bt-contact">
    Contate-me
  </button>
  <button class="bt-more border-gray-300 dark:border-gray-500">
    Mais sobre
  </button>
</div>
