<div class="about-card">
  <div class="max-w-[700px]">
    <p class="text-3xl mb-8">Olá, me chamo <b>Matheus de Assis</b></p>
    <p class="mb-16 opacity-80">Desenvolvedor Backend / Fullstack</p>
    <p class="opacity-80 mb-16">
      Trabalho com desenvolvimento de software há um pouco mais de um ano e meio, majoritarimanete com a plataforma .NET.
      Contrary to popular belief, Lorem Ipsum is not simply random text.
    </p>

    <button class="bt-contact">
      Contate-me
    </button>
    <button class="bt-more">
      Mais sobre
    </button>
    <!-- <p class="opacity-80 mb-4">
      Tive experiência em projetos do setor bancário e marketplace. Atualmente, faço parte da uma equipe de sustentação de uma empresa do segmento de loyalty.
    </p> -->
  </div>
  <div class="md:ml-auto flex flex-col gap-2 pl-5 pt-10 md:pt-0">
    <img class="absolute -rotate-90 triangle" src="../../assets/triangle.png" alt="">
    <div class="relative">
      <p class="text-right text-3xl mb-20"><b>Tecnologias</b></p>
        <div class="flex flex-col items-end gap-2 mr-5 pt-8">
          <div class="flex flex-row gap-4">
            <span class="tech">
              <img class="icon w-9" src="../../assets/icons/ts.png" alt="">
              <span class="tech-span">Lorem Ipsum is not ts2</span>
            </span>
            <span class="tech">
              <img class="icon w-9" src="../../assets/icons/ts.png" alt="">
              <span class="tech-span">Lorem Ipsum is not ts</span>
            </span>
          </div>
          <div class="flex flex-row gap-4">
            <span class="tech">
              <img class="icon w-10" src="../../assets/icons/html.png" alt="">
              <span class="tech-span">Lorem Ipsum is not html</span>
            </span>
            <span class="tech">
              <img class="icon w-10" src="../../assets/icons/css.png" alt="">
              <span class="tech-span">Lorem Ipsum is not css</span>
            </span>
            <span class="tech">
              <img class="icon w-10" src="../../assets/icons/tailwind.png" alt="">
              <span class="tech-span">Lorem Ipsum is not tailwind</span>
            </span>
          </div>
          <div class="flex flex-row gap-4">
            <span class="tech">
              <img class="icon w-11" src="../../assets/icons/csharp.png" alt="">
              <span class="tech-span">Lorem Ipsum is not csharp</span>
            </span>
            <span class="tech">
              <img class="icon w-11" src="../../assets/icons/dotnet.png" alt="">
              <span class="tech-span">Lorem Ipsum is not dotnet</span>
            </span>
            <span class="tech">
              <img class="icon w-11" src="../../assets/icons/angular.png" alt="">
              <span class="tech-span">Lorem Ipsum is not angular</span>
            </span>
            <span class="tech">
              <img class="icon w-11" src="../../assets/icons/postgre.png" alt="">
              <span class="tech-span">Lorem Ipsum is not postgre</span>
            </span>
          </div>
          <div class="flex flex-row gap-4">
            <span class="tech">
              <img class="icon w-10" src="../../assets/icons/mongodb.png" alt="">
              <span class="tech-span">Lorem Ipsum is not mongodb</span>
            </span>
            <span class="tech">
              <img class="icon w-10" src="../../assets/icons/mysql.png" alt="">
              <span class="tech-span">Lorem Ipsum is not mysql</span>
            </span>
            <span class="tech">
              <img class="icon w-10" src="../../assets/icons/azure.png" alt="">
              <span class="tech-span">Lorem Ipsum is not azure</span>
            </span>
          </div>
          <div class="flex flex-row gap-4">
            <span class="tech">
              <img class="icon w-9" src="../../assets/icons/azure.png" alt="">
              <span class="tech-span">Lorem Ipsum is not azure</span>
            </span>
            <span class="tech">
              <img class="icon w-9" src="../../assets/icons/ts.png" alt="">
              <span class="tech-span">Lorem Ipsum is not ts</span>
            </span>
          </div>
        </div>
    </div>
  </div>
</div>
