<div class="dark:text-gray-100 p-5 md:pt-10 md:p-0 gap-10 flex flex-col md:flex-col">
  <app-about></app-about>
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 w-full">
    <span class="text-title text-lg font-bold md:col-span-5 transition-100">Projetos</span>
    <div class="dark:bg-[#0f0f0f] bg-[#ffffff] project-card first-card-alignment md:row-span-2 md:col-span-2">
      <div class="dark:bg-[#171717] bg-[#edeef3] project-img">
        <div class="icon material-icons">webhook</div>
      </div>
      <div class="project-body">
        <p>Projeto teste</p>
        <p>API em .NET 5</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
      </div>
      <div class="stack">
        <img src="../../assets/icons/csharp.png" alt="">
        <img src="../../assets/icons/postgre.png" alt="">
        <img src="../../assets/icons/azure.png" alt="">
      </div>
    </div>
    <div class="dark:bg-[#0f0f0f] bg-[#ffffff] project-card other-cards-alignment md:col-span-3">
      <div class="dark:bg-[#171717] bg-[#edeef3] project-img">
        <div class="icon material-icons">webhook</div>
      </div>
      <div class="project-body">
        <p>Projeto teste</p>
        <p>API em .NET 5</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
      </div>
      <div class="stack">
        <img src="../../assets/icons/csharp.png" alt="">
        <img src="../../assets/icons/postgre.png" alt="">
        <img src="../../assets/icons/azure.png" alt="">
      </div>
    </div>
    <div class="dark:bg-[#0f0f0f] bg-[#ffffff] project-card other-cards-alignment md:col-span-3">
      <div class="dark:bg-[#171717] bg-[#edeef3] project-img">
        <div class="icon material-icons">webhook</div>
      </div>
      <div class="project-body">
        <p>Projeto teste</p>
        <p>API em .NET 5</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
      </div>
      <div class="stack">
        <img src="../../assets/icons/csharp.png" alt="">
        <img src="../../assets/icons/postgre.png" alt="">
        <img src="../../assets/icons/azure.png" alt="">
      </div>
    </div>
    <div class="dark:bg-[#0f0f0f] bg-[#ffffff] project-card other-cards-alignment md:col-span-2">
      <div class="dark:bg-[#171717] bg-[#edeef3] project-img">
        <div class="icon material-icons">webhook</div>
      </div>
      <div class="project-body">
        <p>Projeto teste</p>
        <p>API em .NET 5</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
      </div>
      <div class="stack">
        <img src="../../assets/icons/csharp.png" alt="">
        <img src="../../assets/icons/postgre.png" alt="">
        <img src="../../assets/icons/azure.png" alt="">
      </div>
    </div>
    <div class="dark:bg-[#0f0f0f] bg-[#ffffff] project-card other-cards-alignment md:col-span-2">
      <div class="dark:bg-[#171717] bg-[#edeef3] project-img">
        <div class="icon material-icons">webhook</div>
      </div>
      <div class="project-body">
        <p>Projeto teste</p>
        <p>API em .NET 5</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
        <p>Criado em 06/06/2022</p>
      </div>
      <div class="stack">
        <img src="../../assets/icons/csharp.png" alt="">
        <img src="../../assets/icons/postgre.png" alt="">
        <img src="../../assets/icons/azure.png" alt="">
        <img src="../../assets/icons/azure.png" alt="">
      </div>
    </div>
    <div class="dark:bg-[#0f0f0f] bg-[#ffffff] text-title project-card final-card-alignment">outros projetos..</div>
  </div>
</div>
