<!-- <div class="grid grid-cols-1 md:grid-cols-5 gap-4 p-10 grid-rows-2 md:grid-rows-4">
  <div class="project-card md:col-span-2">0</div>
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 grid-rows-3 md:col-span-3">
    <div class="project-card md:row-span-2 md:col-span-2">1</div>
    <div class="project-card md:col-span-3">2</div>
    <div class="project-card md:col-span-3">3</div>
    <div class="project-card md:col-span-2">4</div>
    <div class="project-card md:col-span-2">5</div>
    <div class="project-card ">6</div>
  </div>
</div> -->

<div class="p-10 pt-0 md:py-10 gap-4 flex flex-col md:flex-row">
  <div class="project-card w-1/2">0</div>
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 grid-rows-3 w-full">
    <div class="project-card md:row-span-2 md:col-span-2">1</div>
    <div class="project-card md:col-span-3">2</div>
    <div class="project-card md:col-span-3">3</div>
    <div class="project-card md:col-span-2">4</div>
    <div class="project-card md:col-span-2">5</div>
    <div class="project-card ">6</div>
  </div>
</div>
