.project-card {
  @apply flex flex-col shadow-sm transition-100 rounded-lg text-xs;
}

.first-card-alignment {
  @apply flex flex-row md:flex-col md:pb-3 ;

  .project-img {
    @apply md:h-1/2 md:w-full rounded-t-lg flex justify-center content-between items-center max-w-[25%] md:max-w-[100%] transition-100 ;
    border: 0px;
    min-width: 21.5%;

  }

  @media (min-width: 768px) {
    .border {
      border-bottom-left-radius: 200%60px !important;
      border-bottom-right-radius: 200%60px !important;
      border-top-right-radius: 30px !important;
      border-top-left-radius: 30px !important;
    }
  }

  .border {
    border-top-right-radius: 100%660px;
    border-bottom-right-radius: 100%660px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .stack {
    @apply ml-auto md:ml-3 my-1 md:my-0 mx-1 md:mx-3 justify-center md:justify-start max-w-[90px] md:max-w-[100%];
    // max-width: 90px;
  }
}

.other-cards-alignment {
  @apply flex flex-row ;

  .project-img {
    @apply rounded-l-lg flex justify-center items-center transition-100;
    min-width: 21.5%;
    max-width: 25%;
    border: 0px;
    border-top-right-radius: 100%660px;
    border-bottom-right-radius: 100%660px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .stack {
    @apply justify-center ml-auto my-1 mx-1 content-between ;
    max-width: 90px;
  }
}

.final-card-alignment {
  @apply justify-center text-center font-bold text-sm min-h-[100px]
}

.project-card:hover {
  @apply shadow cursor-pointer ;
}

.project-body {
  @apply p-3 ;
  min-width: 58%;
}

.stack {
  @apply flex flex-wrap p-2 mx-3 rounded-lg gap-2 items-start ;

  img {
    @apply w-8;
  }
}

.transition-100 {
  @apply transition duration-300 ;
}

.project-img .icon {
  @apply text-5xl text-[#374151] dark:text-[#d1d1d1];
}

.container-about {
}
